body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.journalintro.desktop {
  width: 50%;
  display: block;
}

.journalintro.mobile {
  display: none;
}

.logo {
  width: 280px;
  height: 70px;
}

img {
  width: 600px;
  max-width: 100%;
}

mark {
  background-color: greenyellow;
}

#ourmanna-verse {
  
  padding: 10px;
  margin:10px 0px;
  background: rgba(218, 105, 105, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 60%;
  
}

@media only screen and (max-width: 600px) {

  .logo {
    width: 220px;
    height: 50px;
  }

  .journalheading {
    text-align: center;
  }

  #ourmanna-verse {
    width: 100%;
  }

  .journalintro.desktop {
    display: none;
  }
  
  .journalintro.mobile {
    display: block;
  }

  img {
    width: 100%;
  }

  .journalintro {
    
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {

  .journalheading {
    text-align: center;
  }

  #ourmanna-verse {
    width: 100%;
  }

  img {
    width: 100%;
  }

  .journalintro {
    width: 100%;
  }
}

