body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.journalintro.desktop {
  width: 70vw;
  display: block;
}

.journalintro.mobile {
  display: none;
}

.logo {
  width: 280px;
  height: 70px;
}

.verse {
  
  width: 70vw;
  height: 600px;
}

img {
  width: 600px;
  max-width: 100%;
}

mark {
  background-color: greenyellow;
}

.introcard.card {
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 70vw;
}

.ourmanna-verse {
  
  top: 30%;
  color: pink;
  position: relative;
  text-align: center;
  font-family: Georgia, serif;
  padding: 0px 20px;
  margin:10px 0px;
  
  border-color: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
}

#myjournalintrobutton {
  position: relative;
  top: 14rem;
  left: 8rem;
}

.ourmanna-verse-entries {
  
  top: 40%;
  color: black;
  position: relative;
  text-align: center;
  font-family: Georgia, serif;
  padding: 10px;
  margin:10px 0px;
  
  border-color: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
}

@media only screen and (max-width: 600px) {

  .logo {
    width: 220px;
    height: 50px;
  }

  .journalheading {
    text-align: center;
  }

  #ourmanna-verse {
    width: 100%;
  }

  .journalintro.desktop {
    display: none;
  }
  
  .journalintro.mobile {
    display: block;
  }

  img {
    width: 100%;
  }

  .journalintro {
    
    width: 100%;
  }
  .verse {
    
    width: 100%;
  }

  .introcard.card {
    width: 100%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1025) {

  .journalintro.desktop {
    display: block;
    width: 100%;
  }
  
  .journalintro.mobile {
    display: none;
  }

  .journalheading {
    text-align: center;
  }

  #ourmanna-verse {
    width: 100%;
  }

  img {
    width: 100%;
  }

  .verse {
    
    width: 100%;
  }
  
}


